section {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 50px;
}

img {
  width: 70px;
  height: 370px;
  object-fit: cover;
  border-radius: 40px;
  margin-right: 10px;
  cursor: pointer;
  transition: 1s ease-in-out;
}

.card {
  transition: 1s ease-in-out;
}
/* img:hover {
  width: 400px;
} */

.image.active {
  width: 400px;
}

@media (max-width: 768px) {
  .image.active {
    width: 95%;
  }
}
