section {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: aquamarine;
}

img {
  width: 70px;
  height: 370px;
  object-fit: cover;
  border-radius: 40px;
  margin-right: 10px;
  cursor: pointer;
  transition: 1s ease-in-out;
}

/* img:hover {
  width: 400px;
} */

.image.active {
  width: 400px;
}
